.div{style:'width: 100%;'}
  .fl-cont.fl-center.padd_top_big{style:'    height: calc(100vh - 83px);'}
    .fl-wrap.fl-grow
    .fl-wrap{style:'margin-top: -83px;'}
      .text-center.marg_left_big.marg_ri_big
        %h2.no_marg.bold.no-items-h No dashboards yet.
        -#%p.no_marg.gr.marg_top_10
          You can add a new node or switch to another cluster
    .fl-wrap.fl-grow