Hi <%=@user.firstname%>,
<br>
<br>
<br>
Welcome to Galactic Exchange!
<br>
<br>
Please verify your Galactic Exchange account by clicking below:
<br>
<a href="<%=@link%>">verify account</a><br>
<br>
<br>
<br>
Thank you,
<br>
Galactic Exchange Team.
