.container
  %br
  .row
    .col-md-6.col-xs-6
      %h1 New password for #{@user.username if @user}
      %br
      %b Fill the form below:

    .col-md-6.col-xs-6
      %br
      = image_tag 'gex_with_bag.jpg', :height=>100
  %br
  = render 'passform' if @user


