
.text-center{:style=>"padding-top: 25%; padding-bottom: 1%"}
  -#= image_tag "forgot_pass_done.png", :class=>"pass_pic"

%h2.text-center{:style=>"padding-top: 0; margin-top: 0px;"}
  Reset password instructions were sent to your email
-#%h2 Email has been sent with reset password instructions
-#Check your email
