.flex-container-all.flex-center.padd_md{style:"hgeight: calc(100vh - 85px)"}
  .flex-wrap{style:"flex-grow: 4"}
  .flex-wrap{style:"flex-grow: 4; margin-top: 50px;"}
    %h1.text-center{style:"font-weight: 600 !important; font-size: 44px !important;"} Welcome to Galactic Exchange!

    .padd_top_md{style:"max-width: 450px; margin: 0 auto;"}

      .app_wrap.border.item.marg_bott_md.item.animate-show
        .row.bord_bott.padd_top_md.padd_bott_md.info-flash
          .flex-container-all.padd_left_md
            .flex-wrap
              =image_tag "new/icons/done_white.svg"
            .flex-wrap
              %h5.white{style:"margin: 3px 0px 0px 10px !important"} Your email has been verified

      .app_wrap.border.item.marg_bott_md.item.animate-show
        .row.bord_bott.padd_top_md.padd_bott_md{style:"background-color: rgb(29, 135, 228)"}
          .flex-container-all.padd_left_md
            .flex-wrap
              =image_tag "new/icons/loop_white.svg"
            .flex-wrap
              %h5.white{style:"margin: 3px 0px 0px 10px !important"} Your cluster is being installed

    .padd_top_md{style:"max-width: 450px; margin: 0 auto;"}

      %p.text-center We will send you an email when your cluster is ready.

    .padd_top_md.text-center{style:"max-width: 450px; margin: 0 auto;"}
      %p
        Check your mail for more information about the cluster.
        %br
        You can find our documentation at
        =link_to 'docs.galacticexchange.io', 'http://docs.galacticexchange.io'
    .padd_top_md.text-center{style:"max-width: 450px; margin: 0 auto;"}
      %p
        Thank you for helping us to test our beta version!

  .flex-wrap{style:"flex-grow: 4"}



