.container
  %h3.tour.text-center
    Tour

  .fea_block.row
    .col-md-4.col-sm-6.text-center
      =image_tag "features/fea_1(fixed).svg", :width=>"100%"
    .col-md-1.visible-md
    .col-md-7.col-sm-6
      %h3.fea_big_text.text-center
        A simpler way for Hadoop/Spark
      %p.fea_small_text
        No Big Data experience? No problem! Galactic Exchange assembles your
        desktops and servers into Hadoop and Spark clusters.
        %br
        Install Big Data packages and apps from our AppHub™
        or use your own, and you are ready to go.

  .fea_block.row
    .col-md-4.col-sm-6
      =image_tag "features/fea_2(fixed).svg", :width=>"100%"
    .col-md-1.visible-md
    .col-md-7.col-sm-6
      %h3.fea_big_text.text-center{:style=>"padding-top: 5%"}
        We manage it for you
      %p.fea_small_text
        We make Hadoop/Spark clusters super easy.
        No more pain of Hadoop/Spark cluster installation and configuration.
        Galactic Exchange controls your Hadoop/Spark clusters from the cloud allowing you to manage them from anywhere in the world.


  .fea_block.row{:style => "padding-bottom: 10% !important;" }
    .col-md-4.col-sm-6
      =image_tag "features/fea_5_member1.svg", :width=>"100%"
    .col-md-1.visible-md
    .col-md-7.col-sm-6
      %h3.fea_big_text.text-center
        Based on alien technology
        %br
        (well, almost)
      %p.fea_small_text
        We combine our rocket science with elements such as Docker,
        Apache Mesos and more to help us run efficiently and work with
        a broad selection of apps on the same cluster.
