.container
  .padd_top_big{style:"height: 20vh;"}
  .flex-box{style:"display: flex; justify-content: center;"}
    .div
      %h2.no_marg{style:"font-weight: 600; font-size: 40pt !important;"} Sorry (500)
      .padd_top_md
        %p.no_marg.gr{style:"font-size:  20px !important;"}
          Looks like we have a temporary server problem.
          %br
          We are working on it.
          %br
          %br
          Try refreshing your browser.


.smile{style:"position: absolute; left: 0; bottom: 0;"}
  =image_tag "new/icons/face.svg", style:"opacity: 0.5;  width: 30px; margin: 20px"








