.container
  .padd_top_big{style:"height: 20vh;"}
  .flex-box{style:"display: flex; justify-content: center;"}
    .div
      %h2.no_marg{style:"font-weight: 600; font-size: 40pt !important;"} Forbidden (403)
      .padd_top_md
        %p.no_marg.gr{style:"font-size:  20px !important;"} Access denied

.smile{style:"position: absolute; left: 0; bottom: 0;"}
  =image_tag "new/icons/face.svg", style:"opacity: 0.5;  width: 30px; margin: 20px"