%br
  .container
    = render "shared/flash"
    .row
      .col-md-3
        .list-group
          = render "shared/profile_column_left_main", bt: ""

        .list-group
          = render "shared/profile_column_left_team", bt: ""


        %br
        .list-group
          = render "shared/profile_column_left_cluster", bt: ""

      .col-md-9{:style=>"padding-top: 0px"}
        .text-center
          %h2.inl.semibold
            =@cluster.name
          %h2.inl.gr
            manage

        %hr{:style=>"width:280px; margin-top: 8px; margin-bottom: 4px"}

        .profile_header
          %h5.inl
            You
          %h5.inl.gr
            admin of that cluster.





        .row
          .col-md-10

            %hr.cluster_sep_line
            %h3.inl
              Stats

            .clust_block
              %h5.cl_line
                .pull-right.text-center
                  -if @cluster.deleted? or @cluster.deleting? or @cluster.install_error?
                    =image_tag "red_dot.png",:class=>"cl_stat_dot"
                  -if @cluster.installing?
                    =image_tag "orange_dot.png",:class=>"cl_stat_dot"
                  -if @cluster.active?
                    =image_tag "green_dot.png",:class=>"cl_stat_dot"
                Cluster status
              -#%hr


            .clust_block
              %h5.cl_line
                .pull-right
                  =@nodes_count
                Nodes

            -#.clust_block
              %h5.cl_line
                .pull-right
                  50%
                Capacity usage

              %h5.cl_line
                .pull-right
                  70%
                Power usage

              %h5.cl_line
                .pull-right
                  7100 req/sec
                Requests frequency


            %br



            -#%hr.cluster_sep_line
            -#%h3.inl
              Manage permissions


            -#.clust_block{:style=>"margin-top: 20px"}
              =link_to cluster_path(:name => @cluster.name), :style=> " text-decoration: none" do
                %h5.cl_line
                  .pull-right
                    =image_tag "back_gr.png", :class=>"back_pic", :width=>8,:style=>"margin-bottom: 3px;"
                  Permission example 1
                %hr{:style=>"margin: 0px"}

            -#.clust_block
              =link_to cluster_path(:name => @cluster.name), :style=> " text-decoration: none" do
                %h5.cl_line
                  .pull-right
                    =image_tag "back_gr.png", :class=>"back_pic", :width=>8,:style=>"margin-bottom: 3px;"
                  Permission example 2
                %hr{:style=>"margin: 0px"}


            -#.clust_block
              =link_to cluster_path(:name => @cluster.name), :style=> " text-decoration: none" do
                %h5.cl_line
                  .pull-right
                    =image_tag "back_gr.png", :class=>"back_pic", :width=>8,:style=>"margin-bottom: 3px;"
                  Permission example 3
                %hr{:style=>"margin: 0px"}


            -#%br


            %hr.cluster_sep_line
            %h3.inl
              Other


            .clust_block.padd_top_md
              =link_to cluster_path(:name => @cluster.name), :style=> " text-decoration: none" do
                %h5.cl_line.link_col
                  -#.pull-right
                    =image_tag "back_gr.png", :class=>"back_pic", :width=>8,:style=>"margin-bottom: 3px;"
                  Public page
                %hr.no_marg

            -#.clust_block{:style=>"margin-top: 20px"}
              =link_to cluster_path(:name => @cluster.name), :style=> " text-decoration: none" do
                %h5.cl_line
                  .pull-right
                    =image_tag "back_gr.png", :class=>"back_pic", :width=>8,:style=>"margin-bottom: 3px;"
                  Edit about
                %hr{:style=>"margin: 0px"}


