
.col-lg-10.col-md-9.col-sm-8.no_padd
  -#=render "shared/hint", hint_text: "Use this window to change your password"
  .main
    .app_wrap.border.marg_bott_md
      .row
        .padd_md
          %h2.no_marg
            Set new password for
            %b #{@user.username}
    .app_wrap.border.marg_bott_md
      .row
        .padd_md
          = render 'editpassform'

.clearfix

