.sidebar-header(data-div="page-title")
  .flex-wrap.flex-grow(ng-if="loaded")
    %h2.sb-text.sb-h1-text.inl.gr Settings
    %h2.sb-text.sb-h1-text.inl {{app.title ? app.title : app.name}}
    %p.sb-p-text.gr
      Settings for {{app.title ? app.title : app.name}}.

%div(ng-if="loaded")
  .app_wrap.border.marg_bott_md.invitations_list
    .bord_bott.padd_15.lite_bg
      %h4.no_marg Main settings
    .row
      .padd_md
        .col-md-6.no_padd
          %form(ng-submit="submitEditForm()" novalidate role="form")
            %h6.gr.no_marg_top{:style=>"font-size: 15px;"}
              Application name
            %input.new-input(name="title" type="text" ng-model="form.title" class="string optional form-control" style="margin-bottom: 15px;")

            %h6.gr.no_marg_top{:style=>"font-size: 15px;"}
              App notes
            %textarea.new-textarea(name="notes" ng-model="form.notes" class="text optional form-control" style="margin-bottom: 15px;")

            .fl-cont
              .fl-wrap
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.gex-btn-new.marg_bott_md(ng-disabled="spinner==true"){:type => "submit"} Update
              .fl-wrap.padd_left_md
                %material-spinner.fade-element-in(spinner-radius="18" ng-if="updateSpinner")

  .app_wrap.border.marg_bott_md.invitations_list
    .bord_bott.padd_15.lite_bg
      %h4.no_marg Danger zone
    .row
      .padd{style:"padding: 30px 20px;"}
        .padd{style:"padding-bottom: 10px;"}
          %h5.no_marg.gr{style:"padding-bottom: 10px;"}
            =image_tag "new/icons/info_black.svg", style:"opacity: 0.4; margin-top: -4px"
            This will uninstall the application from the cluster and remove all data
          .fl-cont
            .fl-wrap
              %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.gex_red_btn.gex_btn_cmn(ng-disabled="spinner==true" ng-click="uninstallApp()" data-btn="uninstall-app")
                Uninstall {{app.title ? app.title : app.name}}
            .fl-wrap.padd_left_md
              %material-spinner.fade-element-in(spinner-radius="18" ng-if="uninstallSpinner")

        %h5.no_marg.gr.padd_top_md{style:"padding-bottom: 10px;"}
          =image_tag "new/icons/info_black.svg", style:"opacity: 0.4; margin-top: -4px"
          After removing the application all data will remain in the cluster
        .fl-cont
          .fl-wrap
            %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.gex_red_btn.gex_btn_cmn(ng-disabled="spinner==true" ng-click="removeApp()" data-btn="remove-app")
              Remove {{app.title ? app.title : app.name}}
          .fl-wrap.padd_left_md
            %material-spinner.fade-element-in(spinner-radius="18"  ng-if="removeSpinner")
