%html
  %head
    %title Application is starting
    = stylesheet_link_tag    "ours/sidebar_view", media: "all"

  %body
    %div(class="flex-container flex-center" style="height: 100%;")
      %h2(class="flex-wrap padd_left_10") Please wait, the application is starting ...