.sidebar-header(data-div="page-title")
  .flex-wrap.flex-grow
    %h2.sb-text.sb-h1-text
      Add nodes
    %p.sb-p-text.gr
      Step 1: Choose the type.





.gx-page
  .fl-cont.padd_bott_md
    .div(ng-click="addLocal()")
      .fl-wrap.padd_md.hand_cursor.lite-gx-border(data-div="local-node-card")
        .fl-cont.gx-fl-center{style:'width: 700px;'}
          .fl-wrap.padd_ri_md
            .div.grad-deep-purple{style:'border-radius: 50%; backgrfound-color: #5d5d5d; padding: 20px;'}
              =inline_svg "new/icons/desktop.svg", class: "lg-icon white-svg"
          .fl-wrap.fl-grow.padd_left_md.padd_ri_md
            %h3.bold.no_marg{style:"font-size: 20pt; color: #585858;"} Local
            .fl-cont.marg_top_10
              .fl-wrap.padd_ri_10
                =inline_svg "new/icons/info_black.svg", class:"info-gr-icon"
              .fl-wrap
                %h5.no_marg.gr{style:"line-height: 1.4 !important; padding-botthom: 10px;"}
                  Install a node on your local machine.
          .fl-wrap.padd_left_md.padd_ri_10.marg_left_md
            =inline_svg "new/icons/next.svg", class:"lg-icon gex-svg"

  .fl-cont.padd_bott_md
    .div(ng-click="addRemote()")
      .fl-wrap.padd_md.hand_cursor.lite-gx-border(data-div="remote-node-card")
        .fl-cont.gx-fl-center{style:'width: 700px;'}
          .fl-wrap.padd_ri_md
            .div.grad-green{style:'border-radius: 50%; backgrfound-color: #5d5d5d; padding: 20px;'}
              =inline_svg "new/icons/hub.svg", class: "lg-icon white-svg"
          .fl-wrap.fl-grow.padd_left_md.padd_ri_md
            %h3.bold.no_marg{style:"font-size: 20pt; color: #585858;"} Remote
            .fl-cont.marg_top_10
              .fl-wrap.padd_ri_10
                =inline_svg "new/icons/info_black.svg", class:"info-gr-icon"
              .fl-wrap
                %h5.no_marg.gr{style:"line-height: 1.4 !important; padding-botthom: 10px;"}
                  Install nodes on remote machines in your local network.
          .fl-wrap.padd_left_md.padd_ri_10.marg_left_md
            =inline_svg "new/icons/next.svg", class:"lg-icon gex-svg"







-#.gex-content.gx-page
  .row{style:"max-width: 800px;"}
    .col-md-6.no_padd_left.padd_bott_md(data-div="on-premise-card")
      .border
        .bord_bott.hand_cursor.padd_bott_md.flex-center{style:"min-height: 300px;"}(ng-click="addLocal()")
          .div
            .padd_md.flex-center.no_padd_bott
              .div{style:'border-radius: 50%; background-color: #5d5d5d; padding: 40px;'}
                =inline_svg "new/icons/desktop.svg", class: "xlg-icon white-svg"
            .padd_top_10
              %h3.bold.text-center.marg_top_10.no_marg_bott{style:"font-size: 20pt; color: #585858;"} Local


        .fl-cont.padd_md.marg_top_10.marg_bott_10{style:"min-height: 100px;"}
          .fl-wrap.padd_ri_10
            =inline_svg "new/icons/info_black.svg", class:"info-gr-icon"
          .fl-wrap
            %h5.no_marg.gr{style:"line-height: 1.4 !important; padding-botthom: 10px;"}
              Install a node on your local machine.


        .flex-center.padd_md.no_padd_top
          %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.gex-btn-new(style="width: 100%" data-btn="add-local-node" ng-click="addLocal()") Install a local node

    .col-md-6.no_padd_ri.padd_bott_md(data-div="aws-card")
      .border
        .bord_bott.padd_bott_md.hand_cursor.flex-center{style:"min-height: 300px;"}(ng-click="addRemote()")
          .div
            .padd_md.flex-center.no_padd_bott
              .div{style:'border-radius: 50%; background-color: #5d5d5d; padding: 40px;'}
                =inline_svg "new/icons/hub.svg", class: "xlg-icon white-svg"
            .padd_top_10
              %h3.bold.text-center.marg_top_10.no_marg_bott{style:"    font-size: 20pt; color: #585858;"}  Remote
        .fl-cont.padd_md.marg_top_10.marg_bott_10{style:"min-height: 100px;"}
          .fl-wrap.padd_ri_10
            =inline_svg "new/icons/info_black.svg", class:"info-gr-icon"
          .fl-wrap
            %h5.no_marg.gr{style:"line-height: 1.4 !important; padding-botthom: 10px;"}
              Install nodes on remote machines in your local network.

        .flex-center.padd_md.no_padd_top
          %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.gex-btn-new(style="width: 100%" data-btn="add-remote-nodes" ng-click="addRemote()") Install remote nodes
