.gx-page {

  // one-line text, overflow hidden, 3 dots at the end
  .one-liner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .gx-font{
    h4{
      font-size: 17px !important;
    }
  }

  .d-gr-col{
    color: #585858;
  }

}