

// header for simple ui
.gx-simple-header{

  display: flex;

  background-color: white !important;
  height: 63px;
  margin-top: 0px;
  border-bottom: solid 1px rgba(212, 212, 212, 0.6);



}


// regular header
.gx-header{


}