.step-selected-1{
  .step-1{
    background-color: #7f7f7f;
    //padding: 12px 17px !important;
  }
}
.step-selected-2{
  .step-2{
    background-color: #7f7f7f;
    //padding: 12px 17px !important;
  }
}

.step-selected-3{
  .step-3{
    background-color: #7f7f7f;
    //padding: 12px 17px !important;
  }
}


.step{
  background-color: #a8a8a8;
  padding: 0 17px;
  border-radius: 6px;
}
